.DS_Store
Thumbs.db

.idea/
.vscode/

/vendor/
/node_modules/

/.phpunit.cache/
/.php-cs-fixer.cache

/composer.lock
/package-lock.json
/yarn.lock
/pnpm-lock.yaml

/resources/dist/
/public/vendor/

.env
.env.*
!.env.example
